<%- include('partials/header.ejs')%>


<section class="Pnew">
 <h1>News</h1>

 <div class="new">
   
<% News.forEach(function(news) {%>
    
    
    
    
    <div class="card" style="width: 18rem;">
    <img src="/image/<%=news.image%>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%=news.titre%></h5>
      <p class="card-text"><%=news.description%></p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
    
    
    <%});%>

</div>


</section>






