<%- include('partials/header.ejs')%>
<h1>Bienvenue sur  votre site d'actualité Manga</h1>
<section class="article">
<div>
    <div class="card" style="width: 18rem;">
        <a href=""><img src="/image/index.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
            <h3></h3>
          <h2 class="card-text">News</h2>
        </div>
      </div>
</div>
<div>
    <div class="card" style="width: 18rem;">
        <a href=""><img src="/image/index.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
            <h3></h3>
          <h2 class="card-text">Manga </h2>
        </div>
      </div>
</div>

<div>
    <div class="card" style="width: 18rem;">
       <a href=""> <img src="/image/index.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
            <h3></h3>
          <h2 class="card-text"> Animé</h2>
        </div>
      </div>
</div>
<div>
    <div class="card" style="width: 18rem;">
        <a href=""><img src="/image/index.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
            <h3></h3>
          <h2 class="card-text">Jeux video </h2>
        </div>
      </div>
</div>

</section>





<%- include('partials/footer.ejs')%>