<%- include('partials/header.ejs')%>

<section class="body">

    <section class=from>
      <form action="/auth/register" method="POST" >
  
  
  
        <div class="md-3">
          <label for="exampleFormControlInput1" class="form-label">nom</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" name="nom">
        </div>
        
        <div class="md-3">
            <label for="exampleFormControlInput1" class="form-label">email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" name="email">
          </div>
          
        <div class="md-3">
            <label for="exampleFormControlInput1" class="form-label">mot de passe</label>
            <input type="password" class="form-control" id="exampleFormControlInput1" name="password">
          </div>
    
         
  
  
        
  
  
  
      
  
  
  
  
  
  
        <button type="submit">Ajouter</button>
  
  
  
  
  
      </form>
  
  
  
  
  
  
    </section>
  </section>